{% extends 'base.html.twig' %}
 
{% block title %}New Note{% endblock %}
 
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Create Note</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('notes') }}"> 
                    View All Notes
                </a>
            </div>
            <div class="card-body">
                 {{ include('notes/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}